.burger {
    width: 35px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white;
    z-index: 1000;
}

.line {
    margin-top: 15px;
    margin-left: 7px;
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    position: relative;
}

.line::before {
    bottom: 7px;
    display: block;
    content: '';
    width: 20px;
    height: 3px;
    background-color: black;
    position: absolute;
    transition: all .5s;
    transform-origin: 50% 50%;
}

.line::after {
    top: 7px;
    display: block;
    content: '';
    width: 20px;
    height: 3px;
    background-color: black;
    position: absolute;
    transition: all .5s;
    transform-origin: 50% 50%;
}



.burger:hover .line {
    background-color: white;
}

.burger:hover .line::before  {
    transform: rotate(45deg);
    top: calc(50%);
}

.burger:hover .line::after  {
    transform: rotate(-45deg);
    top: calc(50%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.header {
    background-color: #9CC3E7;
}

.container {
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 1240px;
}

.header__inner {
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    margin-right: 30px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.header__button {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    background-color: #D87731;
    color: #F4F4F4;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.burger {
    display: none;
}
/* 
.activ {
    display: block;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    z-index: 50;
} */


